#WARNING: DO NOT COMMIT YOUR GITHUB TOKEN BY ACCIDENT
#CREATE FILE "github-oauth.properties" IN THIS DIRECTORY, AND PASTE THE 
#CONTENT BELOW TO THAT FILE AND REPLACE 'YOUR_GITHUB_TOKEN_HERE' WITH YOUR GITHUB TOKEN
OAuthToken=YOUR_GITHUB_TOKEN_HERE