# Python stuff
__pycache__/


# Temporary output files and folders
*temporary_output*
*temporary_test*

# Config file can be customized. That's why there is a config template file that the user should copy the content of and 
# create their own Config.py file.
Config.py


#Debug Files
API-Detection/DEBUG_Detect_API.py
___Debugging/
___DEBUG_OUTPUT/
___DEBUG_INPUT/
#Github tokens
*github-oauth.properties